body{background:url(bg_body.jpg);     font-family: "MS Sans Serif";}

.head-bg{background: url(bg_header.jpg);}
.header{width:900px; height:185px; margin:auto;}
.header p{width:700px; font-size:14px; color:#fff; padding-top:20px; 
	font-style:italic; font-family:"Times New Roman";}
.header h1{height:53px; margin:50px 0px 0px 200px; background: url(img_ferris.png) no-repeat; text-indent:-9999px;}
.one p{font-size:14px; color:#5f5e59; margin-bottom:15px;}
.two{column-count:2; margin-bottom:15px;}
.two p{margin-bottom:15px; font-size: 18px; color:#5f5e59;}
#in{width:350px; padding:10px; margin-bottom:10px;}

.contentwrap{width:900px; margin:auto; overflow:hidden; }
.content{width:400px; float:left;}
.content h2{color:#9496ab; font-size:18px; padding:15px 0;}
.photo{width:400px; float:right;}

.sns ul{overflow:hidden;}
.sns li{width:60px; height:43px; background: url(social_icons.png);
			transition:all .5s; float:left;}
		
.sns li:nth-child(1){background-position: 0 0;} 
.sns li:nth-child(2){background-position: -61px 0;} 
.sns li:nth-child(3){background-position:-121px 0;}

.sns li:nth-child(1):hover{background-position: 0 bottom;}
.sns li:nth-child(2):hover{background-position: -61px bottom;}
.sns li:nth-child(3):hover{background-position: -121px bottom;}

figure{width: 200px;clear:both;}
figure li{opacity:0.7; cursor:pointer; transition: all .5s; transform-origin:right center;}
figure li:hover {opacity:1; transform:rotate(-15deg)}

.footer{width:900px; margin:auto; clear:both; font-size: 15px;}