*{box-sizing:border-box; font-family:"Montserrat", sans-serif}
.main-bg{background: #f44336;}
.nav{border-bottom:1px solid #fff; overflow:hidden;position:fixed;width:100%;background: #f44336;}
.nav li:nth-child(1){background: #fff; }
#home a{color:#000}
.nav li{list-style:none; float:left; font-size:18px; }
.nav li a{color:#fff; text-decoration:none; padding: 24px 12px; display:block}
.nav ul li:hover a{background: #fff; color:#000}

.header{text-align: center; padding: 128px 16px}
.header h1{font-size:64px; color:#fff; margin:16px}
.header h2{font-size:24px; color:#fff; margin:24px 0px}
.header button{background-color:#000; color:#fff; padding:12px 24px;
	font-size:18px; border:none; margin-top:16px}

.con1,.con2,.con3{padding: 64px 16px;overflow:hidden}
.content h1{font-size:36px}
.con1,.con2,.con3,.footer{width:60%; margin:auto}
.p1{font-size:18px; padding:32px 0; margin:10px 0}
.p2{font-size:15px; color:#757575; padding:15px 0}
.con1 i{width:25%;float:right; padding:64px 0}
.con2 i{width:25%;float:left; padding:64px 0}
.con1bd{width:65%;float:left}
.con2bd{width:65%;float:right}
.con2-bg{background: #f1f1f1;}

.con3{text-align: center}
.con3-bg{background: #000; color:#fff; }
.con3 h2{font-size: 24px; margin:16px}
.content i{color:#f44336; font-size:200px}

.footer{padding:32px 0; font-size:24px; text-align:center}
.footer p{font-size:15px}
.footer i:hover {color: #ddd}