.header{ width:80%; min-width:670px; height:200px; margin:auto;}
.global{height:150px; line-height:150px;overflow:hidden;}
.global img{float:left; padding-top:50px;}
.head-nav{float:right; overflow:hidden;}
.search{float:left;}
.head-nav ul{float:left;}
.head-nav ul li{float: left; font-size:14px; margin-left:25px;
	font-weight:700; }
.main-nav a{display:block;}
.main-nav{margin:auto;}
.main-nav ul li.level1{width:23%; float:left; position:relative; border-top:1px solid #000;}
.main-nav ul li.level1>a{text-align:center;}
li.level1:hover .level2{display:block;} 
li.level1:hover #green{background: #bfff00;}
li.level1:hover #pink{background: pink;}
li.level1:hover #blue{background: #00bfff;}
li.level1:hover #yellow{background:  #ffff66;}
.level2{width:100%; position:absolute; padding-top:30px; display:none;}
.content{width:100%; margin:auto;} 
.content img{width:100%;}


