<!-- =============== -->
<!-- MENU            -->
<!-- =============== -->
<div class="navbar fixed-top">
  <div class="content">
    <span class="sr-only">Jump to:</span>
    <a id="_menu" class="menu no-hover" href="#_title">
      <span class="sr-only">Menu</span>
    </a>
  </div>
</div>

<!-- =============== -->
<!-- CONTENT         -->
<!-- =============== -->
<div id="_yPushState">
  <div class="fade-in">
    <main style="width:800px; max-width:800px;" id="_main" class="content" role="main" data-color="{{ color | escape }}" data-image="{{ image | escape }}">
      {{ content }} 

     {% if site.disqus_shortname and page.layout == 'post' %}
        {% include comments.html %} 
     {% endif %}

      {% include footer.html %}
    </main>
    
  </div>
  {% include sidebar.html %}
</div>
<div id="koo-side-ad" style="width: 250px; height: 100vh; position: fixed; right: 0px; top: 0px;">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- 꾸리 수직 광고 -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-1927224424396403"
       data-ad-slot="2816625363"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
<!-- =============== -->
<!-- SCRIPTS         -->
<!-- =============== -->
{% include scripts.html %}
