body{height:100%; background: url(basic_bg01.gif) 0 0 repeat;}
.wrap-bg{background: url(basic_bg02.gif) 50% 0 repeat-y;}
.wrap{position:relative; width:1230px; margin:auto; 
	background: url(header_bg01.gif) 0 0 repeat-y;
	height:914px;}
.header{width:183px; float:left;}
.nav img{display:block;}
.level1:hover .level2{display:block;}
.level2 {width:100%; display:none;}


.contents{position:relative; width:997px; margin-left:10px; 
	padding:0 0 17px 40px; float:left;
	background: url(main_bg01.gif) 0 0 no-repeat;}
.footer{position:absolute; left:0; bottom:23px;}
.imgtxt{background: url(footer_menu_bg01.gif) 0 100% no-repeat;}
.foot-nav{ height:19px; margin-bottom:9px; padding:7px 0 0 10px;
	background: url(footer_menu_bg01.gif) 0 100% no-repeat;}
.foot-nav li{padding:0 8px; float:left;}
.main-img{margin-left:-50px;}
.main-content{position:relative; width:745px; margin-top:-75px;}
.main-content article{float:left;}
#a1{margin-right:8px;}

.side-content{width:243px; height:699px; position:absolute; 
	left:793px; top:192px;}
	
#a2 {width:218px; height:348px; padding:0px;}

.side-content article{width:218px; height:147px;  
	padding:25px 0 0 25px; margin-bottom:6px; }
.notice{background: url(gridcontents_notice_bg01.jpg);}
.pr {background: url(gridcontents_pr_bg01.jpg);}
/* 말줌임표  white-space:nowrap:개행하지 않겠다. */
.side-content li{white-space:nowrap; width:200px; overflow:hidden;
	text-overflow:ellipsis;}

.lang{position:absolute; left:877px; top:17px;}
.ko{background: url(lang_bar.png) 100% 0 no-repeat;}

.lang li{float:left; margin-right:8px; padding-right:11px;}
.lang a{display:block;}
.clear{clear:both;}
