---
layout: base
---

<article class="page" role="article">
  <header style="margin-bottom:2rem">
    <h1 class="page-title">{{ page.title }}</h1>
    {% include message.html text=page.description %}
  </header>
  
  <a href="https://www.happykoo.net/1" target="_blank" style="margin-top:10px;">
    <img src="/image/happykoo.png" width="500" />
  </a>

  {{ content }}
  
  <a href="https://www.happykoo.net/1" target="_blank" style="margin-top:10px;">
    <img src="/image/happykoo.png" width="500" />
  </a>
</article>
